In [5]:
# Q1.

# The string slicing is about obtaining the sub string from the given string by slicing it from from start to end

s1 = "Hii I'm Anjali!"
s1[0:]     #It will give the substring till the last index

"Hii I'm Anjali!"

In [7]:
s1[3:11]

" I'm Anj"

In [8]:
# to print the last 3 characters
s1[-3:]

'li!'

In [12]:
s1[::2]

# s1[start:stop:step]

'HiImAjl!'

In [15]:
# To begin from the end to start
# to reverse the string
s1[::-1]

"!ilajnA m'I iiH"

In [16]:
# Q2. Lists are use to store the collection of data.
# Lists are mutable (or changable), ordered sequence of elements.

In [28]:
l1 = [1,2,3,4.4,"abc","anjali"]

l1

[1, 2, 3, 4.4, 'abc', 'anjali']

In [29]:
l1[0]

1

In [30]:
l1[0] = 100    # we can change the value

In [31]:
l1

[100, 2, 3, 4.4, 'abc', 'anjali']

In [32]:
# slicing in lists

l1[1:5]

[2, 3, 4.4, 'abc']

In [33]:
l1[-2]

'abc'

In [34]:
l1.append("Hello")      # to add a data at the end of the list

In [35]:
l1

[100, 2, 3, 4.4, 'abc', 'anjali', 'Hello']

In [36]:
# to append the elements from the another list

a = [1,2,3]
b = [4,5,6]
a.extend(b)

In [37]:
a

[1, 2, 3, 4, 5, 6]

In [38]:
# To concatinate the 2 lists

a = [1,2,3]
b = [4,5,6]

a + b

[1, 2, 3, 4, 5, 6]

In [39]:
# using range function in lists

list(range(5))

[0, 1, 2, 3, 4]

In [41]:
# deep copy and shallow copy

# shallow copy -> the value change in the list will reflect in the another list

l1 = [1,2,3]

l2 = l1

l2

[1, 2, 3]

In [42]:
l2[0] = 100

l2

[100, 2, 3]

In [43]:
l1

[100, 2, 3]

In [45]:
# Deep copy -> the changes in one list will not reflect in the another list

l1 = [1,2,3]

l2 = l1.copy()

l2

[1, 2, 3]

In [46]:
l2[0] = 100

l2

[100, 2, 3]

In [48]:
l1     #the elements of the l1 list remains same

[1, 2, 3]

In [51]:
# sorting list  -> arrange the elements of the list in the sorted order

list1 = [1,4,2,6,0]

list1.sort()

In [52]:
list1

[0, 1, 2, 4, 6]

In [57]:
# Q3.  To access te elements in the list

l1 = [1,2,3,4,5,6,7,8,9,12,32,22]

l1[0]

1

In [58]:
l1[0:6]

[1, 2, 3, 4, 5, 6]

In [67]:
# To modify the list we can use the below menyioned method

# If we want to add the elemnt in the list we can use append

l1.append("abc")

l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 32, 22, 'abc', 'abc']

In [68]:
# to count the elements in the list
l2 = [1,2,2,3,3,45,6,2,2,3]
l2.count(2)

4

In [69]:
# to captilize the first leeter in the list
names = ["abc","anjali","hello"]
[name.capitalize() for name in names]

['Abc', 'Anjali', 'Hello']

In [70]:
# To sort the lelemnts in a list

l2.sort()

In [71]:
l2

[1, 2, 2, 2, 2, 3, 3, 3, 6, 45]

In [72]:
# To remove any element from the list

l1 = ["a",1,2,3,4,"b","c"]

l1.remove("a")

In [73]:
l1

[1, 2, 3, 4, 'b', 'c']

In [74]:
#  to clear all the elements from the list

l1.clear()

l1

[]

In [75]:
#  To delete a list we use del keyword

del l1

In [77]:
l1     #after deleting the list =, we cannot access it

NameError: name 'l1' is not defined

In [19]:
# Q4. Tuples are immutable data structure use to store the collection of data
#  whereas the lists are mutable and the data can be modified once the list is created
# Tuples cannot be changed once they are created

# In both tuples and lists we can access the element by index

t = ()
type(t)

tuple

In [20]:
t = ("coding",1,2,3,4,5,"skills")

In [21]:
t[0]

'coding'

In [22]:
t[-1]

'skills'

In [23]:
t[1] = 100      #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [24]:
# Lists

l =[]
type(l)

list

In [25]:
l1 = ["skills","coding","data","science"]

l1[0]

'skills'

In [26]:
l1[0] = 100

l1      # lists are mutable and can be changed

[100, 'coding', 'data', 'science']

In [10]:
# Q5.     Key features of of sets:

# The sets are the unordered unique collection of data

# Set is a mutable data structure

# In sets we cannot access the data through index

# A set itself may be modified, but the elements contained in the set must be of an immutable type.

In [11]:
s1 = {1,2,3,4}
type(s1)

set

In [12]:
s[0]       #this will throw an error beacuse the elements in a set cannot be accessed by the index

NameError: name 's' is not defined

In [13]:
s2 = {1,2,3,2,3,4,5}
s2

{1, 2, 3, 4, 5}

In [14]:
# set inside set is immutable

s1 = {1,2,3,4,5,6,{7,8}}
s1

TypeError: unhashable type: 'set'

In [7]:
x = {1,2,3,4,5,(4,5,6)}    #it does'nt thorow an error as the tuplr is immutable
x

{(4, 5, 6), 1, 2, 3, 4, 5}

In [8]:
s[:2]

NameError: name 's' is not defined

In [9]:
# to review the element we can use the loops

for i in s1:
    print(i)

1
2
3
4

In [16]:
# to add an element in the set
s1.add(100)   # it is not compulsory that it will add to the last of the set
s1

{1, 2, 3, 4, 100}

In [17]:
s1.pop()     # it is not compulsory that it will remove the last element

1

In [18]:
s1.update("skills")

In [19]:
s1

{100, 2, 3, 4, 'i', 'k', 'l', 's'}

In [20]:
s1.update(["Data"])
s1

{100, 2, 3, 4, 'Data', 'i', 'k', 'l', 's'}

In [21]:
# does not throw error in discard function as if the unit is not present in the set

s1.discard(110)

In [22]:
#  set operations

In [24]:
# A union B

s1 = {1,2,3,4}
s2 = {4,5,6,7}

s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [26]:
# difference

s1 - s2

{1, 2, 3}

In [28]:
#  A intersaction B

s1 & s2

{4}

In [29]:
# symmetric difference

s1^s2

{1, 2, 3, 5, 6, 7}

In [30]:
# Q6.    use cases of tuples and sets


# Tuples are the immutable collection of data wherein the elements cannot be chaneg after the creation of the tuple

# Sets are mutable collection of data and they are unordered and unindexed.

In [31]:
# use case of set

l1 = [1,2,3,"bringal","bringal","bringal"]

s = set(l1)    #converting list to set

s

{1, 2, 3, 'bringal'}

In [32]:
list1 = list(s) #again converting set to list

s[0]      # as the set includes unique elements that's why it is unordered

TypeError: 'set' object is not subscriptable

In [33]:
# tuples as a data structure where you dont want to modify the data

empid = (1,2,3,4)
empid[1] =100

TypeError: 'tuple' object does not support item assignment

In [34]:
t1 = (1,2,100,300,900)
max(t1)

900

In [35]:
min(t1)

1

In [36]:
s = {1,2,3,4,5,6,7,{3,4,5,6}}    # we cannot create the set inside the set

TypeError: unhashable type: 'set'

In [37]:
x = {1,2,3,4,5,(4,5,6)}    #it does'nt thorow an error as the tuplr is immutable

x

{(4, 5, 6), 1, 2, 3, 4, 5}

In [40]:
# when we convert he list into the set and then print it, this will removes the duplicate values

numbers = [1, 2, 2, 3, 4, 4, 5]
print(type(numbers))
a = set(numbers)

a

<class 'list'>

{1, 2, 3, 4, 5}

In [39]:
type(a)

set

In [1]:
#  Dictionary -> The dictionary is the data structure which stores the data in the form of key value pairs

# If we iterate over a dictionary, the items will be returned in the order they were added.

In [2]:
d = {}
type(d)

dict

In [3]:
d = {"name":"A","age":23,"contact":919191}

d

{'name': 'A', 'age': 23, 'contact': 919191}

In [4]:
# To add a key value pair in the dictionary

d["adsress"] = "Jaipur"

d

{'name': 'A', 'age': 23, 'contact': 919191, 'adsress': 'Jaipur'}

In [5]:
d1 = {"emp1":1,"emp2":2}

d1["emp3"] = 3

d1

{'emp1': 1, 'emp2': 2, 'emp3': 3}

In [8]:
# To modify the element in a dictionary

d = {"name":"A","age":23,"contact":919191}

d["name"] = "B"

d

{'name': 'B', 'age': 23, 'contact': 919191}

In [10]:
d1 = {"name":["A","B","C"],"age":23,"contact":919191}

# to access the value of the key "name"

print(d1["name"])     #access all the value of the key

print(d1["name"][1])     #access one value from the key

['A', 'B', 'C']
B

In [11]:
# To delete the elements from the dictionary


d1.pop("contact")

919191

In [12]:
d1

{'name': ['A', 'B', 'C'], 'age': 23}

In [13]:
# to clear all the elements from the dictionary

d1.clear()

In [14]:
d1

{}

In [15]:
#  To delete a whole dictionary

del d1

In [16]:
d1   #after deleting whole dictionary, we are not able to access the dictionary

NameError: name 'd1' is not defined

In [17]:
# Q8. importance of dictionary keys being immutable


# The dictionry keys being immutable is essential for the keys because it ensures that the dictionary can efficiently look up values based on their keys.

# Each key in adictionary is hashed to generate a unique identifier for that key which is then use to access the value of that key.

#  It has a consistent and pridictable behaviour

# For example

d1 = {1:"emp1",2:"emp2",3:"emp3"}

x = d1[1]

x

'emp1'

In [18]:
d1 = {("x", "y"): "value"}
print(d1[("x", "y")])

value

In [20]:
d2 = {("apple", "green"): 1}
print(d2[("apple", "green")])

1